// COLORS
$background__main-theme-light: #65abb0;
$background__main-theme-dark: #077880;
$background__light-grey: #fafafa;
$background__white: #fff;
$color_text-light: #fff;

/* TYPOGRAPHY */
$font_headers: "Roboto", sans-serif;
$font__main: "Roboto", sans-serif;
$color_text-dark: #000;
